// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header {
	background: white;
}
.navbar {
	margin-bottom: 0;
}
.navbar-brand {
	height: auto;
}

.navbar-brand > img {
    max-height: 160px;
    max-width: 249px;
    margin-top: 1.7em;
}

.navbar-default .navbar-nav > li > a {
		font-size: 20px;
		color: #3c4042;
		line-height: 130px;
		text-transform: uppercase;
}
